In [31]:
import pandas as pd

In [22]:
#!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [33]:
# pandas.__version__

In [23]:
# pd?

In [24]:
# s1 = pd.Series(['a','b','c','d'], index= [1,2,3,4], name='Random')
# s2 = pd.Series(['e','f','g','h'], index= [1,2,3,4], name='Random2')

In [25]:
# pd.DataFrame([s1,s2])

         1  2  3  4
Random   a  b  c  d
Random2  e  f  g  h

In [28]:
df = pd.DataFrame(
    {
         "Name":["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"],
        "Age":[22,45,35],
        "Sex":["male", "male", "female"]        
    }
)

In [29]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   45    male
2  Bonnell, Miss. Elizabeth   35  female